
.header{
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 15px 30px;
}

.header__top{
    display: flex;
    justify-content: space-between;
}

.header__top-left{
    display: flex;
    gap: 20px;
}

.header__top-right{

}

.header__bottom{
    
}

.header__logo{
height: 50px;
}

.header-nav__list{
    display: flex;
    gap: 40px
}